body{
    text-align: center;
    background-image: url(../images/img1.jpg);
    background-size: cover;
}

main{
    background-color: mediumpurple;
    display: flex;
}

h1{
    margin: 0 auto;
}

a{
    justify-content: center;
    align-self: center;
    text-decoration: none;
    background-color: darkorchid;
    padding: 5px;
    color: white;
    margin-left: 5px;
    border-radius: 10px;
}

section{
    background-color:rgba(147, 112, 216, 0.521);
    padding: 20px;
    margin: 3% auto;
}

iframe{
    margin: 5px;
}